body {
  background-image: linear-gradient(rgb(49, 48, 48), rgb(14, 14, 14));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.header {
  font-family: sans-serif;
  color: white;
  padding-left: 25px;
}

.header-text {
  font-weight: bold;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  padding: 25px;
}